/* === RESERVE PAGE === */
.reserve-page {
  max-width: 1400px;
  width: 95%;
  min-height: 95vh;
  padding: 5rem 4rem;
  margin: 50px auto;
  border-radius: 40px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.reserve-page .btn-save:hover,
.reserve-page .btn-show-reserves:hover {
  background-color: rgba(0, 170, 255, 0.25);
  box-shadow: 0 0 25px rgba(0, 170, 255, 0.4);
  transform: translateY(-4px);
}

/* Componentes internos */
.reserve-page > * {
  margin-bottom: 35px;
  width: 100%;
}

